<p>login works!</p>
<div class="login-container">
<div class="iconeContainer">
<img src="icone.png" alt="Ícone" class="iconeDeLogin" />
</div>
<div class="ladoEsquerdo">
<form>
<div class="iconeContainer">
<img src="caminhoiconequevocetivercris" alt="Ícone" class="iconeDeLogin" />
</div>
<div class="formulario">
<input type="text" id="username" name="username" placeholder="Usuário"
required minlength="6" />
</div>
<div class="formulario">
<input type="password" id="password" name="password" placeholder="Senha"
required minlength="6" />
</div>
<p class="esqueceuSenha">Esqueceu sua senha?</p>
<button type="submit" class="entrarBotaoBranco">Sing In</button>
</form>
</div>
<div class="ladoDireito">
<h2>Olá!</h2>
<h5>Insira seus dados pessoais e viaje conosco</h5>
<button class="botaoEntrarPreto">Sign Up</button>
</div>
</div>
