
.Content{
    width: auto;
  height: 100vh;
  margin: 0%;
  border: 1px solid #ffffff;
  background: #ffffff;
  border-radius: 16px ;

}
.ContentMain{
    border-radius: 16px;
    display: flex;
    padding: 20px;

}
.drawerC{
    background-color: black;
    border-radius: 16px;
    width: 30%;
    display: flex;
}
img{
    width: 165px;
    height: 175px;
    border-radius: 50px;
}

/*  ----------------------------------*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333;
  color: #fff;
}


.container {
  display: flex;
}
nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  margin-bottom: 15px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.form-container {
  background-color: #fff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: auto;
}
.form-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.formsUR{
  display: flex;
}
.form-container .buttons button {
  width: 48%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-container .buttons button.cancel {
  background-color: #ff4d4d;
}
.form-container .buttons button.submit {
  background-color: #4CAF50;
}
