<mat-drawer-container class="Content">
    <mat-drawer class="drawerC" mode="side" opened="">

      <nav>
        <ul>
            <li><a href="#">Cadastro de Usuários</a></li>
            <li><a href="#">Minhas Denúncias</a></li>
            <li><a href="#">Denúncias</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Sair</a></li>
        </ul>
    </nav>

    </mat-drawer>
    <mat-drawer-container class="ContentMain">
     <form>
        <input type="text" placeholder="ID" required>
        <input type="text" placeholder="Nome" required>
        <input type="email" placeholder="Email" required>
        <input type="text" placeholder="Cargo" required>

        <div class="buttons">
            <button type="button" class="cancel">Cancelar</button>
            <button type="submit" class="submit">Salvar</button>
        </div>
    </form>    </mat-drawer-container>
</mat-drawer-container>
<menu class="menu"></menu>
